@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

$dark-blue: #363440;

.form-container {
    padding: 15px 20px 0px;
}

.new-team-form > * {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    margin-bottom: 1.5em;
    font-weight: 500;
    color: $dark-blue;
}

.new-team-form-input {
    margin-bottom: 5px;
}

.new-team-bio-input {
    margin-top: -5px;
}

.new-team-form-input-visibility {
    margin-top: 5px;
    margin-bottom: 20px;
}

#submitButton {
    margin-top: 15px;
    margin-bottom: 12px;
}

.warnMessage {
    font-size: 12px;
    color: rgb(255, 46, 46);
    position: absolute;
    top: 65%;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
}
