<mat-toolbar class="topToolBar">
    <!--<div>
        <button class="topBtn" mat-mini-fab color="primary" matTooltip="{{ menuItems[0].name }}"
                (click)="openNewDrawingForm()">
            <mat-icon class="topIcon"> {{ menuItems[0].icon }}</mat-icon>
        </button>
        <button class="topBtn" mat-mini-fab color="primary" matTooltip="{{ menuItems[1].name }}"
                (click)="openGallery()">
            <mat-icon class="topIcon"> {{ menuItems[1].icon }}</mat-icon>
        </button>
        <button class="topBtn" mat-mini-fab color="primary" matTooltip="{{ menuItems[2].name }}" (click)="disconnect()">
            <mat-icon class="topIcon"> {{ menuItems[2].icon }}</mat-icon>
        </button>
    </div>-->

    <div class="drawing-infos">
        <h1>Nom du dessin</h1> :
        <span> {{drawingName}}</span>
    </div>

    <div class="actions">
        <button mat-mini-fab (click)="leaveDrawing()" routerLink='/home' matTooltip="Quitter le dessin en cours"
                color="primary">
            <mat-icon>transit_enterexit</mat-icon>
        </button>
    </div>

    <!-- <div fxLayout='row' fxLayoutGap='20px' id='roots-container'>

        <button mat-mini-fab (click)="leaveDrawing()" routerLink='/home' matTooltip="Quitter le dessin en cours"
                color="primary">
            <mat-icon>transit_enterexit</mat-icon>
        </button>

    </div> -->

    <!-- <button (click)='leaveDrawing()'></button> -->
    <!-- <a routerLink='/home' (click)='leaveDrawing()'>Quitter dessin</a> -->

</mat-toolbar>
