<mat-toolbar class="topToolBar">
    <div>
        <button class="topBtn" mat-mini-fab color="primary" matTooltip="{{ menuItems[0].name }}"
                (click)="openNewDrawingForm()">
            <mat-icon class="topIcon"> {{ menuItems[0].icon }}</mat-icon>
        </button>
        <button class="topBtn" mat-mini-fab color="primary" matTooltip="{{ menuItems[1].name }}"
                (click)="openGallery()">
            <mat-icon class="topIcon"> {{ menuItems[1].icon }}</mat-icon>
        </button>
    </div>
    <div fxLayout='row' fxLayoutGap='20px' id='roots-container'>
        <a routerLink='/login'>PROFILE</a>
        <!-- There is no link here-->
        <a routerLink='/home'>LEAVE ROOM</a>
    </div>
</mat-toolbar>
