.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 0fr;
    grid-template-areas: "header header header header" "nav content content content" "nav content content content";
    width: 100vw;
    height: 100vh;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.toolbox {
    width: 25%;
    border-style: solid;
}

.canvas {
    width: 100%
}