<!--https://www.youtube.com/watch?v=U4ftsqSt81w-->
<!--<header flexLayout='column'>
    <app-header-view></app-header-view>
</header>
<div fxLayout="row" fxLayoutAlign="stretch" fxFlex>
    <div fxLayout="column" fxLayoutAlign="start stretch" class='toolbox'>
        <app-toolbox-view></app-toolbox-view>
    </div>
    <div  fxLayoutAlign="stretch" fxFlex class='canvas'>
        <app-svg-view></app-svg-view>
    </div>
</div>-->
<div class= "container">
    <header>
        <app-header-view></app-header-view>
    </header>
    <nav class="wrapper" (mouseleave)="adaptWindowSize()">
        <app-toolbox-view id="toolBox"></app-toolbox-view>
        <hr/>
        <app-option-view id="toolAttributes"></app-option-view>
    </nav>
    <main id= "working-space" #workingSpace (scroll)= "adaptWindowSize()">
        <app-svg-view></app-svg-view>>
    </main>
</div>