<svg width="180" heigth="200">
    <defs>
        <linearGradient id="newDrawHue" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%" style="stop-color:hsl( 0, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="8.3%" style="stop-color:hsl( 30, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="16.6%" style="stop-color:hsl( 60, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="24.9%" style="stop-color:hsl( 90, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="33.2%" style="stop-color:hsl( 120, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="41.5%" style="stop-color:hsl( 150, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="49.8%" style="stop-color:hsl( 180, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="58.1%" style="stop-color:hsl( 210, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="66.4%" style="stop-color:hsl( 240, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="74.7%" style="stop-color:hsl( 270, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="83%" style="stop-color:hsl( 300, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="91.3%" style="stop-color:hsl( 330, 100%, 50% );stop-opacity: 1;"></stop>
            <stop offset="100%" style="stop-color:hsl( 360, 100%, 50% );stop-opacity: 1;"></stop>
        </linearGradient>
        <linearGradient id="gradBlack" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: black;stop-opacity: 1;"></stop>
            <stop offset="100%" style="stop-color: black;stop-opacity: 0;"></stop>
        </linearGradient>
        <linearGradient id="newDrawSV" x1="100%" y1="0%" x2="0%" y2="0%">
            <stop
                offset="0%"
                style="stop-color:rgb( 255, 0, 0 );stop-opacity: 1;"
                [style.stop-color]="'hsl(' + hue + ', 100%, 50% )'"
            ></stop>
            <stop offset="100%" style="stop-color:white;stop-opacity: 1;"></stop>
        </linearGradient>
    </defs>
    <rect
        x="0"
        [style.y]="offsetY"
        width="20"
        height="100"
        fill="url(#newDrawHue)"
        (mousedown)="onMouseDownHue($event)"
        (mousemove)="hueSelect($event)"
        (mouseleave)="hueSelect($event)"
        (mouseup)="onMouseUp()"
    ></rect>
    <rect x="0" y="0" width="20" height="6" stroke="white" fill="none" [ngStyle]="hueCursorStyles"></rect>
    <rect
        [style.x]="offsetX"
        [style.y]="offsetY"
        [style.width]="svMaxValue"
        [style.height]="svMaxValue"
        fill="url(#newDrawSV)"
        stroke="black"
    ></rect>
    <rect
        [style.x]="offsetX"
        [style.y]="offsetY"
        [style.width]="svMaxValue"
        [style.height]="svMaxValue"
        fill="url(#gradBlack)"
        stroke="black"
        (mousedown)="onMouseDownSV($event)"
        (mousemove)="svSelect($event)"
        (mouseup)="onMouseUp()"
    ></rect>
    <circle [style.cx]="offsetX" [style.cy]="offsetY" r="4" fill="none" stroke="white" [ngStyle]="svCursorStyles"></circle>
    <rect x="140" y="10" width="30" height="30" [style.fill]="color" stroke="black"></rect>
</svg>
