.form-container {
  padding: 15px 20px 0px;
}

.new-drawing-form > * {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

h1 {
  text-align: center;
}

.new-drawing-form-input {
  margin-bottom: 5px;
}

.new-drawing-form-input-visibility {
  margin-bottom: 20px;
}

#submitButton {
  margin-top: -15px;
  margin-bottom: 12px;
}

// #quitButton {
//   width: 100%;

// }

.warnMessage {
  font-size: 12px;
  color: rgb(255, 46, 46);
  position: absolute;
  top: 65%;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}
