.drawingForm > * {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

h1 {
  text-align: center;
}

.form-container {
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}

.warnMessage {
  font-size: 12px;
  color: rgb(255, 46, 46);
  position: absolute;
  top: 65%;
}
