<div class="form-container">
    <h1>Nouveau dessin</h1>
    <div class="drawingForm">
        <form [formGroup]="newDrawingForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label for="name">Nom du dessin</mat-label>
                <input matInput type="text" formControlName="drawingName" [value]="name"
                       (keydown)="blockEvent($event)" />
            </mat-form-field>

            <mat-form-field>
                <mat-label for="canvWidth">Largeur (px)</mat-label>
                <input matInput type="text" formControlName="canvWidth" [value]="width"
                       (keydown)="blockEvent($event)" />
            </mat-form-field>

            <mat-form-field>
                <mat-label for="canvHeight">Hauteur (px)</mat-label>
                <input matInput type="text" formControlName="canvHeight" [value]="height"
                       (keydown)="blockEvent($event)" />
            </mat-form-field>

            <mat-form-field>
                <mat-label for="canvColor">Couleur (hex)</mat-label>
                <input matInput type="text" formControlName="canvColor" [value]="color" (input)="onInput()"
                       (keydown)="blockEvent($event)" />
            </mat-form-field>
            <p *ngIf="(canvWidth && canvWidth.invalid) || (canvHeight && canvHeight.invalid)" class="warnMessage">
                <!--Cas géré si canv* est null-->
                Veuillez entrer un entier positif
            </p>
            <p *ngIf="canvColor && canvColor.invalid" class="warnMessage">
                Valeur hexadécimale invalide!
            </p>
            <!-- To add the color picker -->
            <app-mini-color-picker [color]="color" (colorToEmit)="updateColor($event)"></app-mini-color-picker>
            <button mat-raised-button color="primary" id="submitButton" type="submit"
                    [disabled]="newDrawingForm.invalid">C'est parti !</button>
        </form>
        <div>
            <button mat-button id="quitButton" (click)="closeModalForm()">Annuler</button>
        </div>
    </div>
</div>
