<div class="component-grid">
    <mat-list class="users">
        <h2 class="users__title">Liste des utilisateurs</h2>

        <div class="users__list">
            <mat-list-item *ngFor="let user of users">
                <div class="user" *ngIf="user.id !== authenticatedUserId">
                    <img class="user__avatar" *ngIf="user.id !== authenticatedUserId" matListAvatar
                         [src]="decodeAvatar(user.avatar)" alt="User avatar"
                         matTooltip="Consulter le profil de l'utilisateur" (click)="viewUserProfile(user)" />

                    <span class="user__pseudo">{{user.pseudo}}</span>

                    <span [ngClass]="{
                    'user__online': user.status === 0,
                    'user__busy': user.status === 1,
                    'user__offline': user.status === 2
                }" matTooltip="{{displayUserOnlineStatus(user.status)}}"></span>

                    <!-- <button (click)="viewUserProfile(user)">Consulter son profil</button> -->
                </div>
            </mat-list-item>
        </div>
    </mat-list>

    <mat-list class="teams">
        <h2>Équipes de collaboration</h2>

        <div class="teams__list">
            <mat-list-item *ngFor="let team of teams">
                <span [matTooltip]="team.bio!">{{team.name}}</span>
                <button (click)="joinTeam(team)">Joindre</button>
                <button *ngIf="authenticatedUserId === team.ownerId" (click)="deleteTeam(team)">Supprimer</button>

            </mat-list-item>
        </div>

    </mat-list>

    <mat-list class="chatrooms">
        <h2>Canaux de discussion</h2>

        <div class="chatrooms__list">
            <mat-chip-list class="chatrooms__list__chiplist" aria-label="Liste des canaux de clavardage">

                <!-- General chatroom -->
                <mat-chip color="primary" matTooltip="Joindre le canal" (click)="joinChat('General')" selected>
                    {{'General'}}
                </mat-chip>
                <!-- [selectable]="selectable" -->

                <!-- Teams chatrooms -->
                <mat-chip *ngFor="let room of chatrooms" color="accent" matTooltip="Joindre le canal"
                          [removable]="removable" (removed)="removeChat(room)" (click)="joinChat(room)" selected>
                    {{room}}

                    <button class="chip-info-icon" *ngIf="isTeamChannel(room)" mat-icon-button
                            (click)="openTeamInformations(room)">
                        <mat-icon>info</mat-icon>
                    </button>

                    <button class="chip-delete-icon" matChipRemove *ngIf="removable" (click)="leaveTeam(room)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-chip>

            </mat-chip-list>
        </div>

    </mat-list>

    <div class="chatrooms-selected">
        <ng-template #chatInsert>
        </ng-template>
    </div>
</div>
