.gallery-component {
  width: 100%;
  padding: 20px 0;
  //margin: 0 20px;
  //margin-right: 30px;

  h1 {
    text-align: center;
    margin-bottom: 1em;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)) ; //
    // grid-template-rows: ;
    grid-gap: 3em;
    // flex-flow: row wrap;
    // justify-content: flex-start;

    .drawing-card {
      // display: inline-block;
      // width: 12vw;
      // height: 375px;
      // margin: 10px;
      // padding: 0px;

      mat-card-header {
        margin: 10px;
        mat-card-title {
          font-size: 12px;
          margin: 0;
        }
        mat-card-subtitle {
          font-size: 10px;
          margin: 0;
        }
      }

      .mat-card-image {
        width: 100%;
        object-fit: scale-down;
        object-position: center;
        margin: 0;
      }

      mat-card-actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin: 0;
      }
    }
  }
}
