<div class="gallery-component">
    <h1>Galerie de dessins</h1>

    <div class="gallery-grid">
        <mat-card *ngFor="let drawing of drawings" class="drawing-card">
            <mat-card-header>
                <img mat-card-avatar src="../../../assets/thumbnails/avatar_placeholder.png"
                     alt="Avatar du propriétaire" class="avatar-image" />
                <mat-card-title>{{ drawing.name }}</mat-card-title>
                <mat-card-subtitle>{{ displayVisibilityLevel(drawing.visibility) }}</mat-card-subtitle>
            </mat-card-header>

            <img mat-card-image src="../../../assets/thumbnails/drawing_placeholder.jpg" alt="Image de dessin" />

            <mat-card-actions>
                <!--  -->
                <!-- mettre le bouton modifier en haut à droite dans le header -->
                <button *ngIf="getAuthenticatedUserID() === drawing.ownerId ">Modifier</button>
                <button mat-raised-button color="accent">Supprimer</button>
                <button mat-raised-button color="primary">Éditer</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>
