<!-- Reactive form (with validators) -->
<div class="content">
    <h1>COLORIMAGE</h1>
    <form [formGroup]='usernameForm' (ngSubmit)='onSubmit()'>
        <div class="form-container">
            <div>
                Username: <br>
                <input class='form-field' formControlName='username'>
            </div>
            <div>
                <br>
                <button class="button" type="submit" [disabled]='usernameForm.invalid'> <!--[disabled]='usernameForm.invalid'-->
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>