div {
    text-align: center;
}
.error {
    color: rgb(206, 70, 70);
}
.error-msg {
    color: #a94442;
  }
.fix-error-icon {
    top: 27px;
}
input {
    text-align: left;
    padding: 4px 20px;
    box-sizing: border-box;    
}
button {
    padding: 4px 10px;
    box-sizing: border-box;
}
  