div {
    text-align: center;
}
label {
    text-align: left;
}
.alert-danger {
    background-color: rgb(206, 70, 70);
}

//===================================

.big-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
  }
  
  button:hover {
  background-color: rgba(108, 216, 212, 0.4);
  }
  
  .question {
    display: block;
    border: 2px solid;
    border-color: rgba(0, 255, 242, 0.507);
    background-color: rgba(108, 216, 212, 0.4);
    margin-bottom: 5px;
  }
  