<h2 mat-dialog-title>Modifier les informations du dessin</h2>

<mat-dialog-content>
    <mat-label>Nom du dessin : </mat-label>
    <input matInput type="text">
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Annuler</button>
    <button mat-raised-button color="primary">Confirmer</button>
</mat-dialog-actions>

<!-- Sur le bouton confirmer, pour lancer la requête -->
<!-- (click)="modifyDrawing()" -->
<!-- close la dialog actuelle quand on reçoit la réponse de la requête -->
