<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".profile.CameraActivity"
            android:exported="true" />
        <activity
            android:name=".profile.GalleryAvatar"
            android:exported="true" />
        <activity
            android:name=".JoinProtected"
            android:exported="true" />
        <activity
            android:name=".ModifyDrawingParams"
            android:exported="true" />
        <activity
            android:name=".team.TeamActivity"
            android:exported="true" />
        <activity
            android:name=".CreateDraw"
            android:exported="true"
            android:label="@string/title_activity_createdraw"
            android:theme="@style/Theme.Android.NoActionBar" />
        <activity
            android:name=".Drawing"
            android:exported="true" />
        <activity
            android:name=".LandingPage"
            android:exported="true"
            android:label="@string/title_activity_landing_page"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Android.NoActionBar" />
        <activity
            android:name=".profile.HistoryAndStatistics"
            android:exported="true" />
        <activity
            android:name=".profile.VisitorProfileView"
            android:exported="true" />
        <activity
            android:name=".profile.OwnProfile"
            android:exported="true" />
        <activity
            android:name=".RegisterScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".client.ClientService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".LoginScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>
