@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');

#buttonContainer{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    
}

#entryPage {
    width: 100%;
    height: 100%;
    position: absolute;
    
    background-color: #add8e6;
}

button{
    width: 100%;
    height: 100%;
}

div#buttonContainer > div{
    float: left;
    margin: 50px;
}

#title{
    text-align: center; 
    font-size: 90px;
    font-family: 'Architects Daughter', cursive;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
  }

  @media (max-width: 750px) {

    #title {
        font-size: 10vw;
    }

    .footer{
        font-size: 3vw;
    }

    div#buttonContainer > div{
        margin: 25px;
    }

    br { display: none; }

}

@media (max-width: 650px) {
    #title {
        font-size: 8vw;
    }
}