<div class="profile-page">
    <div class="sidebar">
        <img [src]="decodeAvatar()" alt="User avatar" class="avatar">
        <span></span>
        <div class="information">
            <button mat-icon-button (click)="goLaunchingPage()">Revenir à l'accueil</button>
            <span></span>
            <h1>{{ user.firstName }} {{ user.lastName }}</h1>
            <h1>{{ user.pseudo }}</h1>
            <h1>{{ user.emailAddress }}</h1>
        </div>
    </div>

    <div class="content">
        <mat-tab-group mat-align-tabs="start" animationDuration="1000ms">
            <mat-tab label="Informations">
                <br>
                <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm)">
                    <mat-form-field class="pseudo-field">
                        <mat-label>Nouveau pseudonyme</mat-label>
                        <input type="text" matInput formControlName="pseudo" />
                        <mat-error *ngIf="checkError(updateForm, 'pseudo', 'pattern')
					">Ceci n'est pas un nom d'utilisateur valide !</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="old-password-field">
                        <mat-label>Nouveau mot de passe</mat-label>
                        <input type="password" matInput formControlName="newPassword" />
                        <mat-error *ngIf="checkError(updateForm, 'newPassword', 'pattern')
					">Ceci n'est pas un mot de passe valide !</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field *ngIf="updateForm.controls.newPassword.value !== ''" class="new-password-field">
                        <mat-label for="newPasswordTwice">Entrez votre mot de passe de nouveau</mat-label>
                        <input type="password" matInput formControlName="newPasswordTwice" />
                    </mat-form-field>
                    <br>
                    <mat-form-field *ngIf="updateForm.controls.newPassword.value !== ''" class="new-password-field">
                        <mat-label for="oldPassword">Entrez votre ancien mot de passe</mat-label>
                        <input type="password" matInput formControlName="oldPassword" />
                        <mat-error *ngIf="checkError(updateForm, 'oldPassword', 'pattern')
					">Ceci n'est pas un mot de passe valide !</mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-icon-button [disabled]="!checkPasswords()">Soumettre</button>
                </form>

                <div class="avatar">
                    <button mat-raised-button color="primary" value="selectAvatar"
                            (click)="selectAvatarOption('selectAvatar')">Choisir un avatar
                        prédéfini</button>
                    <input type="file" id="upload-file" multiple="false" accept="image/*" ngf-max-size="55000" #file
                           (change)="selectAvatarOption('uploadAvatar', $event)" class="hidden" />
                    <button mat-raised-button color="primary" value="uploadAvatar" (click)="handleClick()">Téléverser
                        son
                        avatar</button>
                    <mat-error *ngIf="avatarSizeTooBig">
                        Ce fichier est trop gros !</mat-error>

                    <h3>Votre avatar</h3>
                    <div *ngIf="selected && selectedAvatar">
                        <img mat-card-sm-image src={{selectedAvatar.url}} alt="Avatar image">
                    </div>
                    <div *ngIf="!selected && selectedAvatar">
                        <img mat-card-sm-image [src]="decodeNewAvatar()" alt="Avatar image">
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Statistiques">
                <br>
                <div class="info-field">Temps moyen de collaboration: {{user.averageCollaborationTime! * 60000 |
                    date:'mm:ss'}} mins.</div>
                <div class="info-field">Temps total de collaboration: {{user.totalCollaborationTime! * 60000 |
                    date:'mm:ss'}} mins.</div>
                <br>
                <div class="info-field">Nombre d'équipes de collaboration: {{user.numberCollaborationTeams}}</div>
                <div class="info-field">Nombre de dessins: {{user.numberAuthoredDrawings}}</div>
                <div class="info-field">Nombre de collaborations: {{user.numberCollaboratedDrawings}}</div>
            </mat-tab>

            <mat-tab label="Historiques">
                <br>
                <h1>Connexions</h1>
                <div class="connection">
                    <div *ngFor="let connection of user.connectionHistories as ConnectionHistory">
                        {{ connection.date }}
                    </div>
                </div>
                <br>
                <h1>Deconnexions</h1>
                <div class="connection">
                    <div *ngFor="let disconnection of user.disconnectionHistories">
                        {{ disconnection.date }}
                    </div>
                </div>
                <br>
                <h1>Collaborations</h1>
                <br>
                <div class="connection">
                    <div *ngFor="let collaboration of user.drawingEditionHistories; let i = index">
                        <div *ngIf="mostRecentVersionDrawing(collaboration)">
                            {{ collaboration.drawingName }} - {{ collaboration.date }}
                            <button (click)="joinDrawing(collaboration)"
                                    [disabled]="!drawingEnabled(collaboration)">Joindre</button>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>
