<div class="profile-page">
    <div class="sidebar">
        <img src="../../../assets/avatars/thumbnail.png" alt="Avatar thumbnail" class="avatar">
        <span></span>
        <div class="information">
            <button (click)="goLaunchingPage()">Go home</button>
            <span></span>
            <h1>{{ user.firstName }} {{ user.lastName }}</h1>
            <h1>{{ user.pseudo }}</h1>
            <h1>{{ user.emailAddress }}</h1>
        </div>
    </div>

    <div class="content">
        <mat-tab-group mat-align-tabs="start" animationDuration="1000ms">
            <mat-tab label="Informations">
                <form [formGroup]="updatePseudo" (ngSubmit)="onSubmit(updatePseudo)">
                    <mat-form-field class="pseudo-field">
                        <mat-label>Nouveau pseudonyme</mat-label>
                        <input type="text" matInput formControlName="pseudo" />
                    </mat-form-field>

                    <button mat-icon-button>Soumettre</button>
                </form>
            </mat-tab>

            <mat-tab label="Statistiques">

            </mat-tab>

            <mat-tab label="Historiques">

            </mat-tab>
        </mat-tab-group>

    </div>
</div>
