<div class="profile-page">
    <div class="sidebar">
        <img src="../../../assets/thumbnails/avatar_placeholder.png" alt="Avatar thumbnail" class="avatar">
        <span></span>
    </div>

    <div class="content">
        <mat-tab-group mat-align-tabs="start" animationDuration="1000ms">
            <mat-tab label="Informations">
                <div class="info-field">
                    <mat-icon>face</mat-icon> Nom d'utilisateur :
                </div>
                <div class="info-field"></div>
                <div class="info-field"></div>
                <div class="info-field"></div>
                <div class="info-field"></div>
                <div class="info-field"></div>
            </mat-tab>

            <mat-tab label="Statistiques">

            </mat-tab>

            <mat-tab label="Historiques">

            </mat-tab>
        </mat-tab-group>

    </div>
</div>
