.register-page {
  height: 100vh;
  overflow: hidden;

  .logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0 10px;
    .logo {
      width: 35%;
      min-width: 300px;
      max-width: 400px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-areas:
    "form-container avatar"
    "link-wrapper link-wrapper";

    .form-container
    {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      font-size: 15px;

      mat-form-field {
        width: 220px;
      }

      .firstname-field, .email-field {
        margin-top: 8px;
        margin-bottom: 8px;
      }

      button {
        width: 15%;
        margin: 15px 0 20px;
      }
    }

    .avatar {
      position: relative;

      mat-radio-label-content {
        padding-right: 20px;
      }
    }

    .hidden {
      visibility: hidden;
      width: 0px;
    }
  }

  .link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0 10px;
    .link {
      position: absolute;
      width: 35%;
      min-width: 300px;
      max-width: 400px;
    }
  }


  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 20px;
  }
}
