div {
  text-align: center;
  font: normal 15px Verdana, Arial, sans-serif;
}

.test {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  text-align: left;
  padding: 2px 2px;
  box-sizing: border-box;
  //font-size: 20px;
}

button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  //font-size: 20px;
}
