<div>
    <h2>Utilisateur connecté : {{username}}</h2>
    <button (click)='disconnect()'>Disconnect</button>

    <div class='chat'>
        <div *ngFor='let msg of messages'> 
            <h3 class='username'>[{{ msg.clientName }}]</h3>
            <h4 class='date'>[{{ msg.date.hour }} : {{ msg.date.minutes }} : {{ msg.date.seconds}}]</h4>
            <h2 class='message'> {{ msg.message }} </h2>
        </div>
    </div>
    
    <div class="content">
        <form [formGroup]='messageForm' (ngSubmit)='onSubmit()'>
            <div class="form-container">
                <div>
                    <input class='form-field' formControlName='message'>
                    <button class='button' type='submit' [disabled]='messageForm.invalid'>
                        Send
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



