div {
    text-align: center;
}

.chat {
    overflow: auto;
    height: 600px;
    border: solid black;
}
label {
    text-align: left;
}
button {
    padding: 4px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
}