<h2 mat-dialog-title>Cette équipe est protégée par un mot de passe.</h2>
<h3>Saisissez le mot de passe pour pouvoir joindre l'équipe :</h3>

<mat-dialog-content>
    <mat-label for="password">Mot de passe :</mat-label>
    <input matInput type="password" autocomplete="off" [(ngModel)]="password">
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button (click)="close($event)">Annuler</button>
    <button mat-raised-button color="primary" (click)="submit($event)">Confirmer</button>
</mat-dialog-actions>