<div>
    <h2>Utilisateur connecté : {{username}}</h2>
    <button (click)="ngOnDestroy()">Déconnexion</button>

    <div class="chat">
        <div *ngFor="let msg of messages">
            <div [ngStyle]="{'float':self(msg.clientName) ? 'right' : 'left' }" class="message-bubble">
                <h2 class="username">[{{ msg.clientName }}]</h2>
                <h2 class="date">[{{ msg.date.hour }}:{{ msg.date.minutes }}:{{ msg.date.seconds}}]</h2>
                <div class="message-div">
                    <h2 class="message"> {{ msg.message }} </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
            <div class="form-container">
                <div>
                    <input class="form-field message-input" formControlName="message">
                    <button class="button" type="submit" [disabled]="messageForm.invalid">
                        Envoi
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
