*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
    margin: 0;
}

.container-grid {
    display: grid;
    grid-template-columns: 220px 900px 30px calc(100vw - 1150px);
    grid-template-rows: 9vh 91vh;
    grid-template-areas:
        "header header header header"
        "nav content buffer sidebar";
    height: 100vh;
    overflow: hidden;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    background-color: rgb(161, 157, 157);
}

main {
    grid-area: content;
    background-color: rgb(182, 179, 179);
    overflow: hidden;
}

.buffer {
    grid-area: buffer;
    background-color: rgb(182, 179, 179);
}

.users-chat-component {
    grid-area: sidebar;
    border-left: 1px solid black;
}

.wrapper {
    //margin-left: auto;
    //margin-right: auto;

    width: auto;
    height: auto;
}

#colorPicker {
    float: left;
}

#toolBox {
    float: left;
}

#toolAttributes {
    float: left;
}
