<!--BOITE A OUTILS
<div fxLayout="column" fxLayoutAlign="end center" fxFlex="66" fxFlexOffset="100">
    <app-option-view fxFlex></app-option-view>
</div>-->
<div class="drawingTools" *ngFor="let func of toolItems">
    <button class=" toolBtn" mat-icon-button color="primary" matTooltip={{func.name}} matTooltipPosition="after"
            (click)="buttonAction(func.name)">
        <mat-icon [ngClass]="(activeButton === func.name)? 'selected':'notSelected'" svgIcon={{func.icon}}>
        </mat-icon>
    </button>
</div>
