<div>
    <app-color-picker></app-color-picker>
</div>

<div>
    <mat-button-toggle-group class="iconsGroup">
        <mat-button-toggle class="toolBtn" mat-icon-button *ngFor="let func of toolItems" color="primary"
                           [matTooltip]="func.name" (click)="buttonAction(func.name)">

            <!--j'ai disable le bouton de l'efface pour le moment car ca brise un peu le reste des tools-->
            <!--<mat-icon [ngClass]="(activeButton === func.name)? 'selected':'notSelected'" svgIcon={{func.icon}}>
        </mat-icon> -->

            <fa-icon [ngClass]="(activeButton === func.name)? 'selected': 'notSelected'" [icon]="func.icon"></fa-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="delete-element-container">
        <button class="delete-element-button" (click)="executeDeleteCommand()">Supprimer</button>
    </div>
</div>
