/*:host {
    padding:20px;
    //background-color: salmon;
    display: flex;
    flex-direction: column;
    //height: 100%;
    //width: 100%;
    //border-style: solid;
}*/
.drawingTools{
    width: auto;
    border-right: thick;
    float: left;
    padding-bottom: 1vh; 
    margin-left: 0;
  }
  
  .toolsSideBar{
    width: 4vw;
    height : auto;
  }
  .selected {
    background: #ff4081;
  }
  .notSelected{
    background:white;
  }
  .toolIcon {
    height: 3vh;
    width: 3vh;
    // alignement des icônes avec les boutons respectifs
    position:absolute;
    top: 50%;
     left:50%;
    transform: translate(-50%, -50%);
    filter: invert(100%); // inversion des couleurs afin d'obtenir des icônes blancs
  }
mat-button-toggle {
  width: inherit;
  height: 2em;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.mat-icon-button {
  height: 2em;
  font-size: 16px;
  align-items: center;
}

.mat-icon-button::ng-deep .mat-button-wrapper>* {
  vertical-align: baseline;
  padding-top: 0.2em;
}

.icons {
  align-items: center;
  padding: 5px;
}

.mat-button-toggle-label {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;

  .mat-button-toggle-label-content {
      text-align: center;
      flex: 1 1 100%;
  }
}