<p *ngIf="!'Choisir Couleur'">{{ selectedTool}}</p>
<div [ngSwitch]= "selectedTool">
    <div
    *ngSwitchCase="selectedTool === 'Rectangle' || selectedTool === 'Ellipse'? selectedTool : ''">
        <label> "Épaisseur du contour": {{ shapeLineThickness }} px </label>
        <mat-slider thumbLabel type="range" min="1" max="30" [(ngModel)]="shapeLineThickness" (ngModelChange)="updateTools()"></mat-slider> <br />
        <br id="label-space"/>
        <label> "Type de la forme": </label>
        <button mat-button [matMenuTriggerFor]="belowMenu">{{ shapeType | shapetype}}</button>
        <mat-menu #belowMenu="matMenu">
            <button mat-menu-item (click)="updateShapeType('OUTLINE')">Contour</button>
            <button mat-menu-item (click)="updateShapeType('FULL')">Plein</button>
            <button mat-menu-item (click)="updateShapeType('BOTH')">Contours + Plein</button>
        </mat-menu> 
    </div>
    <div *ngSwitchCase= "'Crayon'">
        <label> Épaisseur du trait: {{ pencilLineThickness }} px </label>
        <mat-slider thumbLabel type="range" min="1" max="50" [(ngModel)]="pencilLineThickness" (ngModelChange)="updateTools()"></mat-slider> <br />
    </div>
    <div *ngSwitchCase="'Efface'" (ngModelChange)="updateTools()">
        <label> Épaisseur du trait: {{ pencilLineThickness }} px </label>
        <mat-slider thumbLabel type="range" min="3" max="50" [(ngModel)]="pencilLineThickness"></mat-slider> <br />
    </div>

</div>