// #FFBE36
// #3FB0AB
// #E5007D

*,
*::before,
*::after {
  box-sizing: border-box;
}

.chat {
  position: relative;
  width: 20vw;
  min-width: 250px;
  padding: 0.8em;
  background-color: rgba(#3fb0ab, 1);
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

  &__name {
    font-size: 1.2em;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: 1;

    mat-icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    &:hover {
      opacity: 0.8;
      // background-color: rgba(#3fb0ab, 0.8);
    }
  }

  &__expanded {
    position: absolute;
    top: -35vh;
    left: -1px;
    width: inherit;
    min-width: inherit;
    height: 35vh;
    max-height: 350px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;

    &__messages {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      height: 31vh;
      overflow: auto;

      .message-bubble {
        display: inline-flex;
        position: relative;
        width: 80%;
        font-size: 0.8rem;
        margin-bottom: 0.7em;
        padding: 5px;
        border: solid rgb(136, 205, 218);
        background-color: rgb(192, 235, 243);
        border-radius: 20px;
        word-break: break-all;

        .message {
          margin: 1.5em 0;
        }
        .username {
          position: absolute;
          top: 0;
          left: 0.5em;
          font-style: italic;
          font-size: 0.9em;
          & > span {
            font-style: normal;
          }
        }
        .date {
          position: absolute;
          bottom: 0;
          right: 5px;
          font-style: italic;
          font-size: 0.8em;
        }
      }
    }

    &__input {
      background-color: white;
      // width: inherit;
      .form-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        box-shadow: 0 -5px 10px white;
        input {
          width: 100%;
        }
      }

      // .message-input {
      //   // width: 75%;
      //   // margin: auto auto;
      // }
    }
  }
}
