<div class="chat">
    <div class="chat__name" (click)="toggleExpansion()">{{chatroomName}}</div>

    <div class="chat__expanded" [hidden]="!isExpanded">
        <div class="chat__expanded__messages">
            <div *ngFor="let msg of messages" [ngStyle]="{'align-self': self(msg.from!) ? 'flex-start' : 'flex-end' }"
                 class="message-bubble">
                <span class="username">[{{ msg.from }}]</span>
                <span class="date">[{{ msg.date }}]</span>
                <div class="message-div">
                    <p class="message">{{ msg.message }}</p>
                </div>
            </div>
        </div>

        <!-- <div *ngFor="let msg of messages" [ngStyle]="{'float':self(msg.from!) ? 'right' : 'left' }"
                 class="message-bubble"> -->

        <div class="chat__expanded__content">
            <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
                <div class="form-container">
                    <input class="form-field message-input" formControlName="message">
                    <button class="button" type="submit" [disabled]="messageForm.invalid">
                        Envoi
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
