<div class="chat">
    <div class="chat__name" (click)="toggleExpansion()">
        {{chatroomName}}
        <div class="chat__name__quit-icon" (click)="removeComponent(chatroomName)">
            <mat-icon>cancel</mat-icon>
        </div>
    </div>

    <div class="chat__expanded" [hidden]="!isExpanded">

        <div class="chat__expanded__messages">
            <div *ngFor="let msg of messages"
                 [ngStyle]="{'align-self': self(msg.userInfo.pseudo!) ? 'flex-end' : 'flex-start' }"
                 class="message-bubble">
                <span class="username">{{ msg.userInfo.pseudo }}
                    <span> dit :</span>
                </span>
                <span class="date">{{ msg.date }}</span>
                <p class="message">{{ msg.message }}</p>
            </div>
        </div>

        <!-- <div *ngFor="let msg of messages" [ngStyle]="{'float':self(msg.from!) ? 'right' : 'left' }"
                 class="message-bubble"> -->

        <div class="chat__expanded__input">
            <form class="form-container" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Écrivez un message..." formControlName="message">
                <button class="button" type="submit" [disabled]="messageForm.invalid">
                    <mat-icon>send</mat-icon>
                </button>
            </form>
        </div>
    </div>

</div>
