<div class="component-wrapper">
    <mat-list class="userList">
        <h2>Utilisateurs dans le dessin</h2>
        <mat-list-item *ngFor="let user of users">
            <div *ngIf="user.info.id !== authenticatedUserId">
                <svg xmlns="http://www.w3.org/2000/svg" [attr.width]="20" [attr.height]="20">
                    <rect width="100%" height="100%" [style.fill]="user.color"/>
                </svg>
                <span>{{user.info.pseudo}}</span>
            </div>
        </mat-list-item>
    </mat-list>
</div>
