<!-- Reactive form (with validators) -->
<div class="content test">
  <h1>COLORIMAGE</h1>

  <form [formGroup]='inputForm' (ngSubmit)='onSubmit(inputForm)'>
    <div class="form-container">
      <mat-form-field>
        <mat-label>Nom d'utilisateur</mat-label>
        <input type="text" matInput placeholder="Nom d'utilisateur" formControlName='username'>
        <mat-error *ngIf="inputForm.hasError('username') && !inputForm.hasError('required')">
          text
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput placeholder="Mot de passe" formControlName='password'>
        <mat-error *ngIf="inputForm.hasError('password') && !inputForm.hasError('required')"></mat-error>
      </mat-form-field>
      <br>
      <button mat-icon-button [disabled]='inputForm.invalid'>
        Connexion <mat-icon>login</mat-icon>
      </button>
      
    </div>
  </form>
</div>
