<div class="landing-page">
    <div class="logo-wrapper">
        <img src="../../../assets/logos/colorimage_logo1_curved.png" alt="Logo ColorImage" class="logo">
    </div>
    <nav class= "usersTeamsList">
        <app-user-team-list></app-user-team-list>
    </nav>
    <main>
        <div class="buttons-container">
            <div *ngFor="let item of menuItems" class="btn">
                <button (click)="execute(item.shortcutName)">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <br />
                    <span class="button-text"> {{item.name}}</span>
                </button>
            </div>
        </div>
    </main>
    <div class="footer">
        <p>© Équipe-101</p>
    </div>
</div>
