<div class="landing-page">
    <div class=header>
        <img src="../../../assets/logos/header_logo_white_text.png" alt="Logo ColorImage" class="logo">
    </div>

    <div class="header-buttons">
        <div *ngFor="let item of menuItems" class="button-container">
            <button mat-mini-fab (click)="execute(item.shortcutName)" matTooltip={{item.name}} color="primary">
                <mat-icon>{{item.icon}}</mat-icon>
            </button>
        </div>
    </div>

    <div class="gallery">
        <app-gallery></app-gallery>
    </div>

    <div class="teams">
        <app-user-team-list></app-user-team-list>
    </div>
</div>

<!-- TODO: Rajouter un effet visuel après le login ou register, genre un spinner ?
    Faire jouer le son à la fin du spinner -->
<div *ngIf="isLoggedIn">
    <audio src="../../../assets/audio/login.mp3" autoplay></audio>
</div>

<!-- Note (Paul) : Garder le footer et son css, peut être pratique pour la box de clavardage -->
<div class="footer">
</div>
