<div id="landing-page">
    <!-- <h1 id="title">ColorImage</h1> -->
    <div class="logo-wrapper">
        <img src="../../../assets/logos/colorimage_logo1Big.png" alt="Logo ColorImage" class="logo">
    </div>
    <div id="buttons-container">
        <div *ngFor="let item of menuItems" class="btn">
            <button (click)="execute(item.shortcutName)">
                <mat-icon>{{item.icon}}</mat-icon>
                <br>
                <span class="button-text"> {{item.name}}</span>
            </button>
        </div>
    </div>
    <div class="footer">
        <p>© Équipe-101</p>
    </div>
</div>
