.landing-page {
  display: grid;
  grid-template-rows: 15vh 85vh;
  grid-template-columns: 70vw 30vw;
  grid-template-areas:
    "header header-buttons"
    "gallery teams";
  overflow: hidden;

  .header {
    position: relative;
    background-color: teal;
    .logo {
      position: absolute;
      height: 90%;
      top: 50%;
      transform: translate(0, -50%);
      margin: 0 10px;
    }
  }

  .header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: teal;
    .btn {
      margin: 10px 10px 0 0;
    }
  }

  .gallery {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    // padding-right: 25px;
  }

  // .teams {

  // }
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 20px;
}

@media (max-width: 750px) {
  #title {
    font-size: 10vw;
  }

  div.buttons-container > div {
    margin: 25px;
  }

  br {
    display: none;
  }

  .footer {
    font-size: 3vw;
  }
}
